[submodule "vendor/opencode"]
	path = vendor/opencode
	url = https://github.com/lachlan-jones5/opencode.git
	shallow = true
[submodule "vendor/OpenAgents"]
	path = vendor/OpenAgents
	url = https://github.com/lachlan-jones5/OpenAgents.git
